@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* custom css  */
body {
  background-color: #badade;
  font-family: "Chakra Petch", sans-serif;
  color: black;
}
